:root {
   --background-color: rgba(32, 32, 32, 1);
   --button-color: rgba(32, 32, 32, 0.5);
   --brighter-color: rgba(96, 96, 96, 0.5);
   --text-color: rgba(255, 255, 255, 1);
   --text-color-darker: rgba(200, 200, 200, 1);
   --accent-color: rgb(130, 197, 255);
}

* {
   padding: 0;
   margin: 0;
   border: 0;
}

body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: var(--background-color);
   color: var(--text-color);
}

p {
   color: var(--text-color-darker);
}

canvas {
   background-color: transparent;
}

button {
   margin: 5px;
   border: 1px solid var(--text-color);
   color: var(--text-color);
   background-color: var(--button-color);
   border-radius: 20px;
   padding: 10px;
   transition: all 0.5s;
}

button:hover {
   border-radius: 0px;
   background-color: var(--brighter-color);
   cursor: pointer;
}

progress::-moz-progress-bar {
   background-color: var(--accent-color);
   border-radius: 100px;
   appearance: none;
}
progress::-webkit-progress-value {
   background: var(--accent-color);
   border-radius: 100px;
   appearance: none;
}

progress::-webkit-progress-bar {
   border-radius: 100px;
}

progress {
   border-radius: 100px;
   -webkit-appearance: none;
   appearance: none;
}

#content {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

#input-area {
   position: absolute;
   background-color: transparent;
   top: 0;
   left: 0;
   width: 20%;
   height: 100%;
   z-index: 2;
}
#point-cloud-area {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
}
#loading-area {
   position: absolute;
   background-color: transparent;
   top: 0;
   right: 0;
   width: 20%;
   height: 100%;
   z-index: 2;
}
